:root {
	--bgBody:#e9e9e9;
	--bgHeader: #043c7c;
	--bgNav: #c0392b;
	--bgNavHover: #e74c3c;
	--bgAside: #e67e22;
	--bgFooter: #043c7c;
	--blanc: #fff;
	--negre: #000;
  }

* {
	box-sizing: border-box;
}

body {
	background: var(--bgBody);
	margin: 0;
}

.contenedorD2 {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
}

.contenedorD3 {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: left;
}
.contenedor {
	width:100%;
	min-height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

header {
	background-color: var(--bgHeader);
	color: var(--negre);
	width: 100%;
	min-height: 15%;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
}

main {
	width:100%;
	min-height: 75%;
	background-color: var(--blanc);

}

.ampolla-img {
	width: auto;
	height: 180px;
}

header a {
	margin-left: 0;
	text-decoration: none;
	color:inherit;
	margin-right: 35px;
}

header img {
	height: 100px;
	width: 100px;
}